<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<div th:replace="Fragements/nav :: head"></div>
<title>Home</title>
</head>
<body>
	<div th:replace="Fragements/nav :: navbar"></div>
	<div class="container text-center">
		<h1 class="text-center">Search Result</h1>
		<p>HousingTN</p>
	</div>
	<div class="container" >
		<div class="text-center">
			<a  th:href="@{/}" class="btn btn-lg btn-primary">Search again</a>
		</div>
		<div class="row" th:if="${page_logement.content}" style="margin-top:25px;">
			<div class="card col-2" th:each="e:${page_logement.content}"
				style="margin: 10px; position:relative">
				<img th:src="@{'/image/'+${e.images[0].path}}" class="card-img-top"
					alt="...">
				<div class="card-body">
					<h5 class="card-title">
						Adress: <span th:text="${e.adress}"></span>
					</h5>
					<p class="card-text">
						Prix par mois: <span th:text="${e.prix}"></span> DT
					</p>
 			      	<div class="text-center" style="padding:4px;">
 			      	  <a 
				      	  class="btn btn-sm btn-success"	
					      th:text="Allouer"
						  th:href="@{/client/login}"
						  style="position: absolute;bottom:0;padding:3px;" 
					  />
 			      	</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>