<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<div th:replace="Fragements/nav :: head"></div>>
    <title>Signup</title>
</head>
<body>
		<div th:replace="Fragements/nav :: navbar"></div>
    <div class="container">
    	<h1>Signup as Agency</h1>
    </div>
    <div class="text-center container border" style="padding: 20px;margin-top:20px;">
    	<div class="row">
    		<div class="col">
    			<img th:src="@{/images/agency.png}" class="card-img-top" alt="..." style="width:329px;height:202px;">
    		</div>
    		<div class="col">
      			<form th:action="@{signupAgence}" method="post" th:object="${agence}">
			        <div class="">
			          <div class="form-group">
			            <div class="row">
			            	<div class="col-4">
			            		<label class="control-label"> Nom : </label>
			            	</div>
			               	<div class="col-8">
								<input
					              type="text"
					              size="20"
					              th:field="${agence.nom}"
					              class="form-control"
					            />
			               	</div>
			            </div>
			          </div>
			          <div class="form-group">
			            <div class="row">
			            	<div class="col-4">
			            		<label class="control-label"> Email : </label>
			            	</div>
			               	<div class="col-8">
								<input
					              type="text"
					              size="20"
					              th:field="${agence.email}"
					              class="form-control"
					            />
			               	</div>
			            </div>
			          </div>
			          <div class="form-group">
			            <div class="row">
			            	<div class="col-4">
			            		<label class="control-label"> Password : </label>
			            	</div>
			         	    <div class="col-8">
					    	   <input
					              type="password"
					              size="20"
					              th:field="${agence.password}"
					              class="form-control"
					            />
			            	</div>
			            	</div>
			          </div>
			          <div>
			            <button type="submit" class="form-control btn btn-sm btn-success">S'inscrire</button>
			          </div>
			        </div>
			        <span>you have an account ?<a th:href="@{login}" class="badge badge-success" >login</a></span>
			      </form>
    		</div>
    	</div>
    </div>
</body>
</html>