<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/marge.css}"/>
    <title>Signup</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" th:href="@{home}">Navbar</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" th:href="@{signup}">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{login}">Features</a>
	      </li>
	    </ul>
	  </div>
	</nav>
    <div class="container">
    	<h1>Signup as Agency</h1>
    </div>
    <div class="text-center container border" style="padding: 20px;margin-top:20px;">
    	<div class="row">
    		<div class="col">
    			<img th:src="@{/images/agency.png}" class="card-img-top" alt="..." style="width:329px;height:202px;">
    		</div>
    		<div class="col">
      			<form th:action="@{signupAgence}" method="post" th:object="${agence}">
			        <div class="">
			          <div class="form-group">
			            <div class="row">
			            	<div class="col-4">
			            		<label class="control-label"> Nom : </label>
			            	</div>
			               	<div class="col-8">
								<input
					              type="text"
					              size="20"
					              th:field="${agence.nom}"
					              class="form-control"
					            />
			               	</div>
			            </div>
			          </div>
			          <div class="form-group">
			            <div class="row">
			            	<div class="col-4">
			            		<label class="control-label"> Email : </label>
			            	</div>
			               	<div class="col-8">
								<input
					              type="text"
					              size="20"
					              th:field="${agence.email}"
					              class="form-control"
					            />
			               	</div>
			            </div>
			          </div>
			          <div class="form-group">
			            <div class="row">
			            	<div class="col-4">
			            		<label class="control-label"> Password : </label>
			            	</div>
			         	    <div class="col-8">
					    	   <input
					              type="password"
					              size="20"
					              th:field="${agence.password}"
					              class="form-control"
					            />
			            	</div>
			            	</div>
			          </div>
			          <div>
			            <button type="submit" class="form-control btn btn-sm btn-success">S'inscrire</button>
			          </div>
			        </div>
			        <span>you have an account ?<a th:href="@{login}" class="badge badge-success" >login</a></span>
			      </form>
    		</div>
    	</div>
    </div>
</body>
</html>